<div class="container d-flex justify-content-center align-items-center">
    <div class="row">
    <div *ngIf="residence; else notFound" class="residence-card">
        <h2>{{ residence.name }}</h2>
        <img [src]="residence.image" alt="{{ residence.name }}" class="residence-image" />
        <p><strong>Adresse:</strong> {{ residence.address }}</p>
        <p><strong>Status:</strong> {{ residence.status }}</p>
        <button class="btn btn-primary mt-3" (click)="nextResidence()">Next</button>
      </div>
      
      <ng-template #notFound>
        <p>Résidence non trouvée.</p>
      </ng-template>
      </div>
    </div>